/* NAVBAR */
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #040720;
    font-weight: bold;
}


/* DASHBOARD */
.container a {
    text-decoration: none;
    color: #040720;
}